
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Raleway:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
:root{
    --primary-color: #9198e5;
;
    --secondary-color: rgb(39, 34, 28);
}
body{
    margin: 0;
}

html{
    font-size: 75.5%;
    height: 100%;
}
nav{
    background-color: rgb(248, 241, 232);
}
nav img{
    width: 35px;
   
}
.navbar li a{
    font-weight: 700;
    margin: 0 2rem;
    font-size: 15px;
}


.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow:  0 5px 10px var(--secondary-color);
    position: relative;
    align-items: center;
}
.row1 h2{
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.row2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row2 img{
    max-width: 150px;
    margin-top: 30px;
    
}
.row2 h1{
    color: var(--secondary-color);
    font-size: 3rem;
    text-align: center;
    font-family: 'Caveat', cursive;
}
.search{
    
    margin-bottom: 3rem;
}

.search input{
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
    
}
.input-container{
    margin: auto;
}
.search button{
    outline:none;
    border: none;
    height: 35px;
    position: relative;
    left: -2px;
    top: -2px;
    cursor: pointer;
}
.search button i{
    width: 25px;
    font-size: 20px;
    
}
.card{
   margin: 5rem;;
    
}


.bookImg{
    width: 150px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

/*.card-body:hover{
    transform: scale(0.9);
    background-color: rgba(255,255,255,0.8);
}*/
.pe-auto{
    cursor: pointer;
    font-size: 1.2rem;
    color:red
    
}
.book-worm{
    width: 50px;
}
section #displaySection{
    position: relative;
    min-height: 100%;
    margin-bottom: 2rem;
}
section #display-list{
    margin-top: 4rem;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.1rem;
}
.footer-log{
   position: fixed;  
   right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    background-color:white ;
}



@media only screen and (max-width:768px){
    
    .header input{
        width: 200px;
    }
    .header .row2 img{
        width: 18%;
    }
    .header .row2 h1{
        padding: 0 15px;
    }
    .card{
        margin: auto;
    }
    #displaySection .card{
        margin-top: 3rem;
        margin-bottom: 3rem;
        
        
    }
    #display-list .card-log{
        margin: auto;
        max-width: 27rem;
    }
    
    
}



